
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form method="post">
            <button>Comprobar conexion</button>
        </form>
        <label>Estado de la conexión: @ViewData["ConnectionStatus"]</label>
    </div>
</body>
</html>
