@model CRUDPersonas_UI.Models.clsPersonaListadoDepartamentos
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.DropDownListFor(model => model.IdDepartamento, new SelectList(Model.ListadoDepartamentos, "ID", "Nombre"), new { @class = "form-control" })
    </div>
    <div>
        @{
            if (Model.Id == 1) { }
                }
    </div>
</body>
</html>
