
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<body>
    <div>
        @ViewData["Error"] <br />
        <p></p>
        @Html.ActionLink("Volver al menu principal", "Index")
    </div>
</body>

